<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="AppDataPath" value="C:\Users\Public\Documents\Oxigen\data\"/>
    <add key="BinariesPath" value="C:\Program Files\Oxigen\bin\"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint bindingConfiguration="StreamedBindingSU" binding="basicHttpBinding" contract="OxigenIIAdvertising.ServiceContracts.UserDataMarshaller.IUserDataMarshallerSUStreamer" />
      <endpoint bindingConfiguration="NonStreamedBindingSU" binding="basicHttpBinding" contract="OxigenIIAdvertising.ServiceContracts.UserDataMarshaller.IUserDataMarshallerSU" />
      <endpoint bindingConfiguration="StreamedBindingUFM" binding="basicHttpBinding" contract="OxigenIIDownloadServers.IUserFileMarshaller" />
      <endpoint bindingConfiguration="NonStreamedBindingUMS" binding="basicHttpBinding" contract="OxigenIIAdvertising.ServiceContracts.UserManagementServices.IUserManagementServicesNonStreamer" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamedBindingSU" bypassProxyOnLocal="false" transferMode="Streamed" messageEncoding="Mtom" sendTimeout="00:02:00" receiveTimeout="00:02:00">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message/>
          </security>
        </binding>
        <binding name="StreamedBindingUFM" bypassProxyOnLocal="false" maxReceivedMessageSize="209715200" transferMode="Streamed" messageEncoding="Mtom" sendTimeout="00:02:00" receiveTimeout="00:02:00">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message/>
          </security>
        </binding>
        <binding name="NonStreamedBindingSU" bypassProxyOnLocal="false" transferMode="Buffered">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message/>
          </security>
        </binding>
        <binding name="NonStreamedBindingUMS" bypassProxyOnLocal="false" transferMode="Buffered">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" indentsize="3" />
  </system.diagnostics>
</configuration>