<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseAddress" value="net.pipe://localhost/BLPipe"/>
    <add key="defaultDisplayDuration" value="10"/>
    <add key="assetContentPath" value="C:\Oxigen2\Repository\AssetFiles\AssetContents\"/>
    <add key="thumbnailAssetContentPath" value="C:\Oxigen2\Repository\Thumbnails\AssetContents\"/>
    <add key="previewFramesAssetContentPath" value="C:\Oxigen2\Repository\AssetFiles\PreviewFrames\AssetContents\"/>
    <add key="previewFramesSlidePath" value="C:\Oxigen2\Repository\AssetFiles\PreviewFrames\Slides\"/>
    <add key="slidePath" value="C:\Oxigen2\Repository\AssetFiles\Slides\"/>
    <add key="thumbnailSlidePath" value="C:\Oxigen2\Repository\Thumbnails\Slides\"/>
    <add key="thumbnailChannelPath" value="C:\Oxigen2\Repository\Thumbnails\Channels\"/>
    <add key="displayDurationFlashMin" value="5"/>
    <add key="displayDurationFlashMax" value="300"/>
    <add key="displayDurationVideoMin" value="5"/>
    <add key="displayDurationVideoMax" value="300"/>
    <add key="displayDurationImageMin" value="5"/>
    <add key="displayDurationImageMax" value="20"/>
    <add key="SMTPServer" value="10.10.1.5"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/DAPipe" bindingConfiguration="NonStreamedBinding" binding="netNamedPipeBinding" contract="OxigenIIAdvertising.ServiceContracts.DAServices.IDAService" />
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NonStreamedBinding" transferMode="Buffered" transactionFlow="true" receiveTimeout="00:01:00" sendTimeout="00:01:00">
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>