<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="timerInterval" value="600"/><!-- minutes -->
    <add key="aggregatedUserVersionInfoPath" value="\\pdc-server\d\Client Sites\OxigenIIMasterDataMarshaller\theMachineSpecificData\"/>
    <add key="nonAggregatedUserVersionInfoPath" value="\\pdc-server\d\Client Sites\OxigenIIUserDataMarshaller\theMachineSpecificData\"/>
    <add key="approxMaxNoRows" value="200"/>
  </appSettings>
</configuration>