<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseAddress" value="net.tcp://localhost/MDM"/>
    <add key="appDataPath" value="\\iis6-server\Client Sites\OxigenIIUserDataMarshaller\theServables\"/>
    <add key="assetPath" value="\\iis6-server\Client Sites\OxigenIIUserDataMarshaller\theServables\Assets\"/>
    <add key="debugFilePath" value="\\iis6-server\Client Sites\OxigenIIMasterDataMarshaller\debug.txt"/>
    <add key="channelDataPath" value="\\iis6-server\Client Sites\OxigenIIUserDataMarshaller\theServables\ChannelData\"/>
    <add key="aggregatedLogsPath" value="\\iis6-server\Client Sites\OxigenIIMasterDataMarshaller\theAggregatedLogs\"/>
    <add key="machineSpecificDataPath" value="\\iis6-server\Client Sites\OxigenIIMasterDataMarshaller\theMachineSpecificData\"/>
    <add key="systemPassPhrase" value="password"/>
    <add key="maxUninstallRows" value="200"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="OxigenIIAdvertising.RelayServers.MasterDataMarshaller">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/MDM"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost/MDM" binding="netTcpBinding" bindingConfiguration="mdmBinding"
                  contract="OxigenIIAdvertising.ServiceContracts.MasterDataMarshaller.IMasterDataMarshallerStreamer"
                  bindingNamespace="http://oxigen.net">
        </endpoint>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="mdmBinding" transferMode="Streamed" maxReceivedMessageSize="104857600" receiveTimeout="00:10:00" sendTimeout="00:05:00">
          <security mode="None"/>           
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>