<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="thumbnailSlidePath" value="Thumbnails/Slides/"/>
  </appSettings>
  <connectionStrings>
    <add name="strConn" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=oxigen; User ID=SQL2008Access; Password=1451@oliver?; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="OxigenIIAdvertising.Services.DAService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/DAPipe"/>
          </baseAddresses>
        </host>
        <endpoint address="net.pipe://localhost/DAPipe" binding="netNamedPipeBinding" bindingConfiguration="daBinding"
                  contract="OxigenIIAdvertising.ServiceContracts.DAServices.IDAService"
                  bindingNamespace="http://oxigen.net">
        </endpoint>
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="daBinding" transferMode="Buffered" transactionFlow="true" maxReceivedMessageSize="20971520" receiveTimeout="00:01:00" sendTimeout="00:01:00">
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>