<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint bindingConfiguration="NonStreamedBinding" binding="basicHttpBinding" contract="OxigenIIAdvertising.ServiceContracts.UserManagementServices.IUserManagementServicesNonStreamer" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="NonStreamedBinding" bypassProxyOnLocal="false" transferMode="Buffered" receiveTimeout="00:10:00" sendTimeout="00:05:00">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message />
          </security>
        </binding>        
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>