<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:hib="urn:nhibernate-configuration-2.2">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="60" cookieless="false" xdt:Transform="SetAttributes"/>

    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings xdt:Transform="Replace">
    <add key="minDisplayDuration" value="5" />
    <add key="maxDisplayDuration" value="300" />
    <add key="defaultDisplayDuration" value="10" />
    <add key="serverTimeout" value="3600" />
    <add key="imageUploaderLicense" value="71068-10000-CAF29-5ABF0-8676F;72068-10000-374EB-1F6CC-B0475" />
    <add key="imageUploaderFileMask" value="*.jpeg;*.jpg;*.jpe;*.png;*.swf;*.bmp;*.tiff;*.tif;*.gif;*.mov;*.avi;*.wmv;" />
    <add key="assetContentPath" value="E:\Client Sites\OxigenIIAdvertisingSystem\AssetFiles\AssetContents\" />
    <add key="slidePath" value="E:\Client Sites\OxigenIIAdvertisingSystem\AssetFiles\Slides\" />
    <add key="templatePath" value="E:\Client Sites\OxigenIIAdvertisingSystem\AssetFiles\Templates\"/>
    <add key="thumbnailTemplatePath" value="E:\Client Sites\OxigenIIAdvertisingSystem\theSite\Thumbnails\Templates\"/>
    <add key="thumbnailAssetContentPath" value="E:\Client Sites\OxigenIIAdvertisingSystem\theSite\Thumbnails\AssetContents\" />
    <add key="thumbnailAssetContentRelativePath" value="http://static.oxigen.net/AssetContents/" />
    <add key="thumbnailSlidePath" value="E:\Client Sites\OxigenIIAdvertisingSystem\theSite\Thumbnails\Slides\" />
    <add key="thumbnailSlideRelativePath" value="http://static.oxigen.net/Slides/" />
    <add key="thumbnailChannelRelativePath" value="http://static.oxigen.net/Channels/" />
    <add key="thumbnailAssetContentRelativePathWinFS" value="Thumbnails\AssetContents\" />
    <add key="thumbnailSlideRelativePathWinFS" value="Thumbnails\Slides\" />
    <add key="previewFramesAssetContentPath" value="E:\Client Sites\OxigenIIAdvertisingSystem\AssetFiles\PreviewFrames\AssetContents\" />
    <add key="previewFramesSlidePath" value="E:\Client Sites\OxigenIIAdvertisingSystem\AssetFiles\PreviewFrames\Slides\" />
    <add key="noPreviewImagePath" value="E:\Client Sites\OxigenIIAdvertisingSystem\AssetFiles\PreviewFrames\NoPreview.jpg" />
    <add key="debugPath" value="E:\Client Sites\OxigenIIAdvertisingSystem\debug.txt" />
    <add key="tempInstallersPath" value="E:\Client Sites\OxigenIIAdvertisingSystem\theTempInstallers\"/>
    <add key="signToolPath" value="&quot;C:\Program Files\Microsoft SDKs\Windows\v6.1\Bin\signtool.exe&quot;"/>
    <add key="signToolArguments" value="sign /f &quot;C:\inetpub\oxigen II Ltd Code Signing Cert.pfx&quot; /p 5513070 /t http://timestamp.verisign.com/scripts/timstamp.dll "/>
    <add key="streamDetailsURL" value="http://new.oxigen.net/ChannelDetails.aspx?channelID="/>
    <add key="SMTPServer" value="localhost"/>
    <add key="displayDurationFlashMin" value="5"/>
    <add key="displayDurationFlashMax" value="300"/>
    <add key="displayDurationVideoMin" value="5"/>
    <add key="displayDurationVideoMax" value="300"/>
    <add key="displayDurationImageMin" value="5"/>
    <add key="displayDurationImageMax" value="20"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="Oxigen" connectionString="Data Source=NTDD3070;Initial Catalog=OxigenIIChannels;User ID=SQL2008Access;Password=1451@oliver?;Application Name=Oxigen;"/>
  </connectionStrings>
</configuration>