<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OxigenIITest.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="debugFilePath" value="C:\OxigenData\OxigenDebug.txt" />
    <add key="generalDataPath" value="C:\OxigenData\SettingsData\ss_general_data.dat"/>
    <add key="advertImpressionLogsPath1" value="C:\OxigenIIData\Logs\ss_ad_s_1.dat"/>
    <add key="advertImpressionLogsPath2" value="C:\OxigenData\Logs\ss_ad_s_2.dat"/>
    <add key="advertClickLogsPath1" value="C:\OxigenData\Logs\ss_ad_c_1.dat"/>
    <add key="advertClickLogsPath2" value="C:\OxigenData\Logs\ss_ad_c_2.dat"/>
    <add key="contentImpressionLogsPath1" value="C:\OxigenData\Logs\ss_co_s_1.dat"/>
    <add key="contentImpressionLogsPath2" value="C:\OxigenData\Logs\ss_co_s_2.dat"/>
    <add key="contentClickLogsPath1" value="C:\OxigenData\Logs\ss_co_c_1.dat"/>
    <add key="contentClickLogsPath2" value="C:\OxigenData\Logs\ss_co_c_2.dat"/>
    <add key="countValuesInputPath1" value="C:\OxigenData\Logs\ss_cnt_1.dat"/>
    <add key="countValuesInputPath2" value="C:\OxigenData\Logs\ss_cnt_2.dat"/>
    <add key="channelSubscriptionPath" value="C:\OxigenData\SettingsData\ss_channel_subscription_data.dat"/>
    <add key="installationPath" value="C:\Program Files\Oxigen\"/>
    <add key="generalDataPath" value="C:\OxigenData\SettingsData\ss_general_data.dat"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint binding="basicHttpBinding" contract="OxigenIIAdvertising.ServiceContracts.UserDataMarshaller.IUserDataMarshaller" bindingConfiguration="NonStreamedBinding"/>
      <endpoint binding="basicHttpBinding" contract="OxigenIIAdvertising.ServiceContracts.UserDataMarshaller.IUserDataMarshallerStreamer" bindingConfiguration="StreamedBinding"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="NonStreamedBinding" bypassProxyOnLocal="false" transferMode="Buffered">
          <!-- security settings here -->
        </binding>
        <binding name="StreamedBinding" bypassProxyOnLocal="false" transferMode="Streamed" messageEncoding="Mtom" maxReceivedMessageSize="104857600">
          <!-- 100 MB maximum length -->
          <!-- security settings here -->
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <applicationSettings>
    <OxigenIITest.Settings1>
      <setting name="PlaylistDataPath" serializeAs="String">
        <value>C:\Documents and Settings\MichaliKonstantinidi\My Documents\OxigenIIData\SettingsData\ss_play_list.dat</value>
      </setting>
      <setting name="GeneralDataPath" serializeAs="String">
        <value>C:\Documents and Settings\MichaliKonstantinidi\My Documents\OxigenIIData\SettingsData\ss_general_data.dat</value>
      </setting>
      <setting name="AdvertDataPath" serializeAs="String">
        <value>C:\Documents and Settings\MichaliKonstantinidi\My Documents\OxigenIIData\SettingsData\ss_adcond_data.dat</value>
      </setting>
      <setting name="DemographicDataPath" serializeAs="String">
        <value>C:\Documents and Settings\MichaliKonstantinidi\My Documents\OxigenIIData\SettingsData\ss_demo_data.dat</value>
      </setting>
      <setting name="UserChannelSubscriptionsPath" serializeAs="String">
        <value>C:\Documents and Settings\MichaliKonstantinidi\My Documents\OxigenIIData\SettingsData\ss_channel_subscription_data.dat</value>
      </setting>
      <setting name="ChannelDataPath" serializeAs="String">
        <value>C:\Documents and Settings\MichaliKonstantinidi\My Documents\OxigenIIData\ChannelData\</value>
      </setting>
      <setting name="DebugPath" serializeAs="String">
        <value>C:\Documents and Settings\MichaliKonstantinidi\My Documents\OxigenIIData\OxigenDebug.txt</value>
      </setting>
      <setting name="AssetPath" serializeAs="String">
        <value>C:\Documents and Settings\MichaliKonstantinidi\My Documents\OxigenIIData\Assets\</value>
      </setting>
    </OxigenIITest.Settings1>
  </applicationSettings>
</configuration>