<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Setup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- <add key="debugMode" value="1"/> -->
  </appSettings>
  <applicationSettings>
    <Setup.Properties.Settings>
      <setting name="Setup_UserManagementServicesLive_UserManagementServices"
        serializeAs="String">
        <value>https://master-getconfig-a-1.oxigen.net/UserManagementServices.svc/file</value>
      </setting>
    </Setup.Properties.Settings>
  </applicationSettings>
</configuration>