<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OxigenIIAdvertising.ScreenSaver7.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OxigenIIScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OxigenIIAdvertising.ScreenSaver7.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="UserSettingsPath" serializeAs="String">
                <value>c:\OxigenIIAppDataSamples\AppData\UserSettings.dat</value>
            </setting>
            <setting name="TempDecryptPath" serializeAs="String">
                <value>c:\temp\</value>
            </setting>
            <setting name="DebugFilePath" serializeAs="String">
                <value>c:\OxigenIIAppDataSamples\AppData\OxigenIIDebug.txt</value>
            </setting>
        </OxigenIIAdvertising.ScreenSaver7.Properties.Settings>
        <OxigenIIScreenSaver.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="UserSettingsPath" serializeAs="String">
                <value>c:\OxigenIIAppDataSamples\AppData\UserSettings.dat</value>
            </setting>
            <setting name="TempDecryptPath" serializeAs="String">
                <value>c:\temp\</value>
            </setting>
        </OxigenIIScreenSaver.Properties.Settings>
    </applicationSettings>
</configuration>