<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="timerInterval" value="1"/>    <!-- minutes -->
    <add key="clientSideAggregatedLogsPath" value="\\Iis6-server\Client Sites\OxigenIIMasterDataMarshaller\theAggregatedLogs\"/>
    <add key="serverSideAggregatedLogsPath" value="\\Iis6-server\Client Sites\OxigenIIUserDataMarshaller\theClientLogs\"/>
    <add key="maxNoClientSideFiles" value="5"/>
  </appSettings>
</configuration>