<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OxigenIIAdvertising.SSG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="OxigenIISSG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AppDataPath" value="C:\Users\Public\Documents\Oxigen\data\"/>
    <add key="BinariesPath" value="C:\Program Files\Oxigen\bin\"/>
    <add key="WindowsSystemPath" value="C:\Windows\System32\"/>
  </appSettings>
  <applicationSettings>
    <OxigenIIAdvertising.SSG.Properties.Settings>
      <setting name="ServiceName" serializeAs="String">
        <value>Oxigen Service</value>
      </setting>
      <setting name="ScreenSaverProcessName" serializeAs="String">
        <value>Oxigen.scr</value>
      </setting>
      <setting name="ScreenSaverConfigureFormType" serializeAs="String">
        <value>OxigenIIAdvertising.ScreenSaver.ConfigureForm</value>
      </setting>
      <setting name="ScreenSaverMainFormType" serializeAs="String">
        <value>OxigenIIAdvertising.ScreenSaver.ScreenSaver</value>
      </setting>
    </OxigenIIAdvertising.SSG.Properties.Settings>
    <OxigenIISSG.Properties.Settings>
      <setting name="ServiceName" serializeAs="String">
        <value>Oxigen Service</value>
      </setting>
    </OxigenIISSG.Properties.Settings>
  </applicationSettings>
</configuration>