<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serverTimeout" value="10"/>
    <add key="systemPassPhrase" value="password"/>
    <add key="primaryDomainName" value=".obs-group.co.uk"/>
    <add key="secondaryDomainName" value=".obs-group.co.uk"/>
    <add key="maxNoServers" value="4"/>
    <add key="cryptPassword" value="password"/>
    <add key="timerInterval" value="1"/>
    <add key="slidePath" value="\\Iis6-server\Client Sites\OxigenIIAdvertisingSystem\AssetFiles\Slides\"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/DAPipe" bindingConfiguration="NonStreamedDABinding" binding="netNamedPipeBinding" contract="OxigenIIAdvertising.ServiceContracts.DAServices.IDAService" />
      <endpoint bindingConfiguration="StreamedMDMBinding" binding="basicHttpBinding" contract="OxigenIIAdvertising.ServiceContracts.MasterDataMarshaller.IMasterDataMarshallerStreamer" />
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NonStreamedDABinding" transactionFlow="true" transferMode="Buffered" receiveTimeout="00:01:00" sendTimeout="00:01:00"/>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding name="StreamedMDMBinding" bypassProxyOnLocal="false" messageEncoding="Mtom" transferMode="Streamed" maxReceivedMessageSize="104857600" receiveTimeout="00:10:00" sendTimeout="00:05:00"/>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>  
</configuration>