<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="appDataPath" value="\\iis6-server\Client Sites\OxigenIIUserDataMarshaller\theServables\"/>
		<add key="changesetPath" value="\\iis6-server\Client Sites\OxigenIIUserDataMarshaller\theServables\Changesets\"/>
		<add key="assetPath" value="\\iis6-server\Client Sites\OxigenIIUserDataMarshaller\theServables\Assets\"/>
		<add key="channelDataPath" value="\\iis6-server\Client Sites\OxigenIIUserDataMarshaller\theServables\ChannelData\"/>
		<add key="logPath" value="\\iis6-server\Client Sites\OxigenIIUserDataMarshaller\theClientLogs\"/>
		<add key="debugFilePath" value="\\iis6-server\Client Sites\OxigenIIUserDataMarshaller\debug.txt"/>
		<add key="machineSpecificDataPath" value="\\iis6-server\Client Sites\OxigenIIUserDataMarshaller\theMachineSpecificData\"/>
		<add key="systemPassPhrase" value="password"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<services>
			<service name="OxigenIIAdvertising.RelayServers.UserDataMarshaller" behaviorConfiguration="MetaDataBehavior">
				<endpoint address="file" binding="basicHttpBinding" bindingConfiguration="StreamedBinding" contract="OxigenIIAdvertising.ServiceContracts.UserDataMarshaller.IUserDataMarshallerStreamer" bindingNamespace="http://oxigen.net">
				</endpoint>
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="NonStreamedBinding" contract="OxigenIIAdvertising.ServiceContracts.UserDataMarshaller.IUserDataMarshaller" bindingNamespace="http://oxigen.net">
				</endpoint>
				<endpoint address="su" binding="basicHttpBinding" bindingConfiguration="StreamedBindingSU" contract="OxigenIIAdvertising.ServiceContracts.UserDataMarshaller.IUserDataMarshallerSUStreamer" bindingNamespace="http://oxigen.net">
				</endpoint>
				<endpoint address="suno" binding="basicHttpBinding" bindingConfiguration="NonStreamedBindingSU" contract="OxigenIIAdvertising.ServiceContracts.UserDataMarshaller.IUserDataMarshallerSU" bindingNamespace="http://oxigen.net">
				</endpoint>
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="NonStreamedBinding" bypassProxyOnLocal="false" transferMode="Buffered" sendTimeout="00:10:00" receiveTimeout="00:05:00">
				</binding>
				<binding name="StreamedBinding" bypassProxyOnLocal="false" transferMode="Streamed" messageEncoding="Mtom" maxReceivedMessageSize="104857600" sendTimeout="00:10:00" receiveTimeout="00:05:00">
					<!-- 100 MB maximum length -->
				</binding>
				<binding name="StreamedBindingSU" bypassProxyOnLocal="false" transferMode="Streamed" messageEncoding="Mtom" sendTimeout="00:02:00" receiveTimeout="00:02:00">
				</binding>
				<binding name="NonStreamedBindingSU" bypassProxyOnLocal="false" transferMode="Buffered">
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MetaDataBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
