<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="timerInterval" value="1"/> <!-- minutes -->
    <add key="aggregatedHeartbeatsPath" value="\\Iis6-server\Client Sites\OxigenIIMasterDataMarshaller\theMachineSpecificData\"/>
    <add key="nonAggregatedHeartbeatsPath" value="\\Iis6-server\d\Client Sites\OxigenIIUserDataMarshaller\theMachineSpecificData\"/>
    <add key="approxMaxNoRows" value="200"/>
  </appSettings>
</configuration>