<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="baseAddress" value="net.tcp://localhost/BLPipe"/>
    <add key="defaultDisplayDuration" value="10"/>
    <add key="assetContentPath" value="\\Iis6-server\Client Sites\OxigenIIAdvertisingSystem\AssetFiles\AssetContents\"/>
    <add key="thumbnailAssetContentPath" value="\\Iis6-server\Client Sites\OxigenIIAdvertisingSystem\theSite\Thumbnails\AssetContents\"/>
    <add key="previewFramesAssetContentPath" value="\\Iis6-server\Client Sites\OxigenIIAdvertisingSystem\AssetFiles\PreviewFrames\AssetContents\"/>
    <add key="previewFramesSlidePath" value="\\Iis6-server\Client Sites\OxigenIIAdvertisingSystem\AssetFiles\PreviewFrames\Slides\"/>
    <add key="slidePath" value="\\Iis6-server\Client Sites\OxigenIIAdvertisingSystem\AssetFiles\Slides\"/>
    <add key="thumbnailSlidePath" value="\\Iis6-server\Client Sites\OxigenIIAdvertisingSystem\theSite\Thumbnails\Slides\"/>
    <add key="thumbnailChannelPath" value="\\Iis6-server\Client Sites\OxigenIIAdvertisingSystem\theSite\Thumbnails\Channels\"/>
    <add key="displayDurationFlashMin" value="5"/>
    <add key="displayDurationFlashMax" value="300"/>
    <add key="displayDurationVideoMin" value="5"/>
    <add key="displayDurationVideoMax" value="300"/>
    <add key="displayDurationImageMin" value="5"/>
    <add key="displayDurationImageMax" value="20"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/DAPipe" bindingConfiguration="NonStreamedBinding" binding="netNamedPipeBinding" contract="OxigenIIAdvertising.ServiceContracts.DAServices.IDAService"/>
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NonStreamedBinding" transferMode="Buffered" transactionFlow="true" receiveTimeout="00:01:00" sendTimeout="00:01:00">
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
