<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OxigenIIAdvertising.LogExchanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <client>
      <endpoint bindingConfiguration="NonStreamedBinding" binding="basicHttpBinding" contract="OxigenIIAdvertising.ServiceContracts.UserDataMarshaller.IUserDataMarshaller" />
      <endpoint bindingConfiguration="StreamedBinding" binding="basicHttpBinding" contract="OxigenIIAdvertising.ServiceContracts.UserDataMarshaller.IUserDataMarshallerStreamer" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="NonStreamedBinding" bypassProxyOnLocal="false" transferMode="Buffered" sendTimeout="00:10:00">
        </binding>
        <binding name="StreamedBinding" bypassProxyOnLocal="false" transferMode="Streamed" messageEncoding="Mtom" maxReceivedMessageSize="104857600" sendTimeout="00:10:00">
          <!-- 100 MB maximum length -->
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <add key="AppDataPath" value="C:\OxigenData\"/>
    <add key="BinariesPath" value="C:\Program Files\Oxigen\bin\"/>
  </appSettings>
  <applicationSettings>
    <OxigenIIAdvertising.LogExchanger.Properties.Settings>
      <setting name="SystemPassPhrase" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password</value>
      </setting>
    </OxigenIIAdvertising.LogExchanger.Properties.Settings>
  </applicationSettings>
</configuration>

