<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OxigenIIAdvertising.ScreenSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OxigenIIAdvertising.ScreenSaver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OxigenIIAdvertising.ScreenSaver.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OxigenIIAdvertising.ScreenSaver.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
        </OxigenIIAdvertising.ScreenSaver.Properties.Settings>
    </applicationSettings>
  <appSettings><add key="AppDataPath" value="C:\OxigenData\"/><add key="BinariesPath" value="C:\Program Files\Oxigen\bin\"/></appSettings>
</configuration>