<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="softwareVersionInfoTimeout" value="600"/>
    <add key="softwareVersionInfoFileLimit" value="300000"/> <!-- set to 0 to process all files -->
    <add key="operationTimeout" value="59"/> <!-- minutes -->
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/DAPipe" bindingConfiguration="NonStreamedDABinding" binding="netNamedPipeBinding" contract="OxigenIIAdvertising.ServiceContracts.DAServices.IDAService" />
      <endpoint address="net.tcp://localhost/MDM/" bindingConfiguration="StreamedMDMBinding" binding="netTcpBinding" contract="OxigenIIAdvertising.ServiceContracts.MasterDataMarshaller.IMasterDataMarshallerStreamer" />
      <endpoint address="net.tcp://localhost/MDM/NonStreamed" bindingConfiguration="NonStreamedMDMBinding" binding="netTcpBinding" contract="OxigenIIAdvertising.ServiceContracts.MasterDataMarshaller.IMasterDataMarshaller" />
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NonStreamedDABinding" transactionFlow="true" transferMode="Buffered" receiveTimeout="00:01:00" maxReceivedMessageSize="20971520" sendTimeout="00:01:00"/>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="StreamedMDMBinding" transferMode="Streamed" maxReceivedMessageSize="104857600" receiveTimeout="00:05:00" sendTimeout="00:10:00"/>
        <binding name="NonStreamedMDMBinding" transferMode="Buffered" maxReceivedMessageSize="524288000" receiveTimeout="00:10:00" sendTimeout="00:05:00">
          <reliableSession enabled="true" inactivityTimeout="00:02:00"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <log4net>
    <appender name="LogToFile" type="log4net.Appender.FileAppender">
      <file value="UMDBService.log"/>
      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <priority value="DEBUG"/>
      <appender-ref ref="LogToFile"/>
    </root>
  </log4net>
</configuration>