<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="uninstallTimeout" value="1"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/DAPipe" bindingConfiguration="NonStreamedDABinding" binding="netNamedPipeBinding" contract="OxigenIIAdvertising.ServiceContracts.DAServices.IDAService" />
      <endpoint address="net.tcp://localhost/MDM" bindingConfiguration="StreamedMDMBinding" binding="netTcpBinding" contract="OxigenIIAdvertising.ServiceContracts.MasterDataMarshaller.IMasterDataMarshallerStreamer" />
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NonStreamedDABinding" transactionFlow="true" transferMode="Buffered" receiveTimeout="00:01:00" maxReceivedMessageSize="20971520" sendTimeout="00:01:00"/>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="StreamedMDMBinding" transferMode="Streamed" maxReceivedMessageSize="104857600" receiveTimeout="00:05:00" sendTimeout="00:10:00"/>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>